<div class="main col-12 my-2">
    <div class="tile border rounded d-flex justify-content-between p-3 align-items-center">
        <div class="company_detials d-flex flex-column">
            <h1 class="h3">Software Engineer</h1>
            <h1 class="h5">Nogency</h1> 
        </div>

        <div class="status ">
            <h1 class="h5">Status</h1>
            <h1 class="h6">Appilied</h1>
        </div>

        <div class="buttons">
            <button class="btn btn-primary">Detials <i class="bi bi-info-circle"></i></button>
        </div>
    </div>
</div>